<div class="nav-wrapper">
    <a href="/playlist" class="brand-logo left">
        <img src="/images/moodsetlogo.png" />
    </a>
    <ul id="nav-mobile" class="right">
        <% if (currentUser) { %>
        <li>Welcome, <%= currentUser.username %>!</li>
        <li>
            <a href="/playlist/new">Create Playlist</a>
        </li>
        <li>
            <form action="/sessions?_method=DELETE" method="post">
                <button
                    type="submit"
                    name="action"
                    class="btn-flat cyan-text waves-effect waves-yellow yellow-3"
                >
                    Log Out
                </button>
            </form>
        </li>
        <% } else { %>
        <li>
            <a href="/users/new">Sign Up</a>
        </li>
        <li>
            <a href="/sessions/new">Log In</a>
        </li>
        <% } %>
    </ul>
</div>
