@keyframes playerBorder {
    0% {
        background-position: 0% 75%;
    }

    25% {
        background-position: 25% 100%;
    }

    50% {
        background-position: 50% 75%;
    }

    75% {
        background-position: 25% 50%;
    }

    100% {
        background-position: 0% 75%;
    }
}

.player-border {
    background: linear-gradient(25deg, yellow, cyan, gold, tomato, darkcyan);
    background-size: 200% 200%;
    animation: playerBorder 6s ease infinite;
    padding: 2px;
    border-radius: 20px;
    padding: 5px;
    max-width: 30em;
}

.audio-player {
    --player-button-width: 3em;
    --sound-button-width: 2em;
    --space: 0.5em;
    background-color: rgb(77, 77, 77);
    border-radius: 15px;
    padding: 10px;
}

.songData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-artist {
    font-size: 25px;
    margin-top: 0;
    margin: 0;
}

.song-title {
    font-size: 15px;
    margin: 0;
}

h3,
h5 {
    padding: 0;
    margin: 0 0 5px 0;
}

.controls {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.play-buttons {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
    & #pause {
        display: none;
    }
}

.play-button-toggle {
    & #pause {
        display: block;
    }
    & #play {
        display: none;
    }
}

button:focus {
    background-color: transparent;
}

.seek-buttons {
    display: flex;
    flex-direction: row;
    width: var(--player-button-width);
    border: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
}

.timeline {
    display: flex;
    align-items: center;
    width: 190px;
    height: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.playhead {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1px;
    background: rgba(0, 0, 0, 1);
}

#current-time,
#total-time {
    font: 8px;
}

.volume-buttons {
    background-color: transparent;
    border: 0;
    width: var(--sound-button-width);
    height: var(--sound-button-width);
    cursor: pointer;
    padding: 0;
    & #volume-on {
        display: none;
    }
}

.volume-button-toggle {
    & #volume-on {
        display: block;
    }
    & #mute {
        display: none;
    }
}

.tracklist-title {
    display: inline;
    margin: 0;
    padding: 0;
}
