nav {
    margin-bottom: 5em;
}

.brand-logo {
    width: 4.5em;
    height: 4em;
}

.brand-logo img {
    width: 100%;
    margin: -25px auto auto -25px;
}

#createPlaylist {
    margin: auto 5px auto 5px;
}

#userGreeting {
    margin-left: 20px;
}

#userGreeting,
#createPlaylist {
    font-weight: 500;
    margin-top: 1px; /* Can't figure out why these aren't naturally aligned with the Log Out button. */
}

.btn-flat {
    font-weight: bold;
    padding: 0;
    padding-right: 10px;
}

@media (max-width: 500px) {
    #createPlaylist {
        margin: 1px auto;
    }
}
