nav ul a,
nav {
  color: #444;
}

body {
  background-color: #444;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

#gif {
  border-top: 4px solid #ffba54;
  border-bottom: 4px solid #ffba54;
  padding: 15px;
  margin: 3em auto 1em auto;
  width: 80%;
}

.brand-logo {
  width: 6em;
  margin-top: -1.3em;
  margin-left: -1.3em;
}

nav {
  background-color: #ff5f5f;
}

.welcome {
  margin-right: 1em;
}

.btn-small {
  margin-right: 1em;
  background-color: #ff8585;
  color: #444;
}

a {
  color: #ffba54;
}

h1 {
  margin: .2em 0 -.2em 0;
}

.playlists {
  margin: .2em 0 .5em 0;
}

.create {
  margin: 1em 0 .5em 4em;
}

.edit {
  margin: .2em 0 .5em 0;
}

.new {
  margin: .2em 0 .5em 0;
}

.happy {
  text-align: center;
  margin-right: 4em;
}

.button {
  background-color: #ffba54;
  color: #444;
}

p {
  line-height: 2rem;
}

.title {
  margin-top: 1em;
  margin-bottom: .5em;
}

#showtitle {
  margin-top: 1em;
}

.landingp {
  margin: 0 auto;
  width: 70%;
}

#intro {
  padding: 2em 0 2em 0;
  color: black;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer a {
  color: #444;
  margin-left: 45px;
}

footer.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding: 0;
  background-color: #8f8400;
  text-align: left;
}
