<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
    <title></title>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <img src="/images/landing.gif" id="gif" alt="moodset gif" />
    </div>
  </body>
</html>
