<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/navStyles.css" />
        <link rel="stylesheet" href="/css/landingStyles.css" />
        <link rel="stylesheet" href="/css/globalStyles.css" />
    </head>
    <body>
        <nav><%- include ('../partials/nav.ejs') %></nav>
        <div class="container">
            <div class="container-2">
                <img
                    src="/images/landing.gif"
                    id="landing-page-gif"
                    class="responsive-img z-depth-3"
                    alt="moodset-gif"
                />
            </div>
            <h2 class="center-align black-text hide-on-med-and-up">
                Welcome to your happy place
            </h2>
            <h3 class="center-align black-text hide-on-small-only">
                Welcome to your happy place
            </h3>
            <section class="flow-text center-align hide-on-small-only">
                <button
                    class="waves-effect waves-dark yellow darken-3 btn-small"
                >
                    <a href="/users/new" class="grey-text text-darken-4">
                        set your mood
                    </a>
                </button>
            </section>
            <p class="flow-text center-align grey-text text-lighten-3">
                We're so glad you're here. This is a space designed for you to
                set your own stage. No matter what you're doing, we want to make
                sure it's as enjoyable as possible. Music is one of the best
                ways available to set your own mood which can help maximize your
                vibe, and we could not be more excited to be a part of your
                story.
                <br /><br />
            </p>
            <section
                class="flow-text center-align grey-text text-darken-4 hide-on-med-and-up"
            >
                Tap&nbsp
                <a href="/users/new" class="btn-floating yellow darken-3 pulse">
                    <i class="medium material-icons">touch_app</i>
                </a>
                &nbspto set your mood.
            </section>
        </div>
    </body>
</html>
