<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
      <div class="container">
        <h1> <%= playlist.playlistTitle %> </h1>
        <h5> <%= playlist.playlistDescription %> </h5>
      </div>
  </body>
</html>
